@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

@font-face {
  font-family: 'Great Laker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/greatlaker.woff') format('woff'),
    url('https://fonts.cdnfonts.com/s/153687/GreatLaker-vnW74.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Tektur', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
